*{
    margin:0%;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    padding:1.8%;
}
.navbar a {
    text-decoration: none;
    font-size: 17px;
    color:black;
    margin-left: 3%;
    vertical-align: middle;
    font-weight:bold;
}
#signin {
    background-color: #00baf2;
    color: white;
    border-radius:25px;
    padding:1%;
    margin-left:1%;
    border:none;
    width:10%;
    font-weight: bold;
    font-size: 18px;
}
#signin:hover{
    background-color: blue;
}
.wallet{
    background-color: #f6f6f6;
    padding:1%;
    text-align: center;
}
.sec2{
    display:flex;
    justify-content: space-between;
    padding:5% 0% 5% 5%;
    margin-top: 2%;
}
.UPI{
    margin-left: 3%;
}
.UPI p{
    font-size: 24px;
    font-weight: normal;
    margin-left: 3%;
}
.UPI h1{
    margin-left: 3%;
    font-size: 50px;
}
#app{
    border: 1px solid black;
    width: 40%;
    border-radius: 23px;
    padding: 2%;
    background-color: black;
    color:white;
    font-size: 17px;
    margin-left: 4%;
    margin-top: 6%;
    text-align: center;
}
#app:hover {
    background-color:white;
    color:black;
}
.one{
    margin: top 5%;
    font-size: 60px;
}
.two{
    font-size: 60px;
}
.two2{
    margin-top: 25px;
    margin-left: 50px;
}
#app i {
    margin: 0% 2%;
}
.sec3{
    background-color: #00adf2;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
}
.div3{
    display:flex;
    justify-content: space-between;
    padding: 6%;
    margin-left: 4%;
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 18px;
    line-height: 30px;
}
.head2{
    padding-top: 4%;
    padding-left: 7%;
    text-align: left;
    font-size: 35px;
    color: white;
}
.div3 a{
    text-decoration: none;
    color: white;
}
.sec{
    background-color: aliceblue;
    padding: 4% 12%;
}
#h3{
    margin-bottom: 5%;
}
.sec5{
    display: flex;
    justify-content: center;
    border: none;
    padding-top: 5%;
    border-radius: 20px;
    width: 100%;
}
.sec5 img{
    border-radius: 4px;
    margin-left: 50px;
}
.sec h1{
    margin-left: 2%;
    margin-bottom: 20px;
    font-size: 40px;
}
#sec5id{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 12px;
}
#sec1id{
    font-size: 40px;
    margin-left: 50px;
    font-size: 35px;
}
#app2{
    border: 1px solid black;
    width: 45%;
    border-radius: 23px;
    padding: 2%;
    background-color: black;
    color:white;
    font-size: 17px;
    margin-left: 50px;
    margin-top: 45px;
    cursor: pointer;
    margin-bottom: 2%;
    text-align: center;
}
#app2:hover {
    background-color:white;
    color:black;
}
#app2 i {
    margin: 0% 2%;
}
.sec4{
    background-color: rgb(16, 16, 212);
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
}
.div4{
    display:flex;
    justify-content: space-between;
    padding: 6%;
    margin-left: 4%;
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 18px;
    line-height: 30px;
}
.head3{
    padding-top: 4%;
    padding-left: 7%;
    text-align: left;
    font-size: 35px;
    color: white;
}
.div4 a{
    text-decoration: none;
    color: white;
}
#app3{
    width: 25%;
    border-radius: 23px;
    padding: 2%;
    background-color: darkblue;
    color:white;
    font-size: 17px;
    margin-left: 50px;
    margin-top: 45px;
    cursor: pointer;
    margin-bottom: 2%;
    text-align: center;
}
#app3:hover {
    background-color:rgb(37, 174, 238);
    color:white;
}
#app3 i {
    margin: 0% 2%;
    margin-left: 10px;
}
.UPI h2{
    font-size: 40px;
    margin-left: 25px;
}
.sec2 img{
    margin-left: 25px;
    margin-bottom: 50px;
    margin-top: 25px;
}
.sec8{
    display: flex;
    padding-top: 0%;
    margin-top: 5%;
    justify-content: space-between;
}
.side{
    width: 40%;
    padding: 3%;
    background-color: white;
    border-radius: 20px;
}
.i20{
    margin-right: 7%;
    margin-bottom: 0%;
}
.hi img {
    margin-top: 25px;
}
.side h1 {
    margin-left: 0px;
}
.section15{
	padding-top: 10%;
	border:none;
	background-image: url(images/33.png);	
	display: flex;
	padding-left: 10%;
}
.img31{
	padding-right: 10%;
	justify-content: center;
	margin-bottom: 9%;
}
#app4{
	border: none;
	width: 26%;
	border-radius: 23px;
	padding: 3%;
	background-color:#002970 ;
	color:white;
	font-size: 17px;
	margin-left: 4%;
	margin-top:1%;	
	font-weight: bold;
	font-family: sans-serif;	
	cursor: pointer;
}
#app4:hover{
	background-color:#00adf2 ;
	color: white;
}
.section{
	padding-top: 10%;
	border:none;	
	display: flex;
	padding-left: 10%;
    background-color: rgba(239,239,239,0.6);
}
.img36{
	padding-right: 10%;
	justify-content: center;
	margin-bottom: 9%;
}
.sec9{
	margin-top: 6%;
	border: none;
	border-radius:20px;
	width: 70%;
	margin: 3% 7% ;
	display: flex;
	padding: 5% 7% 5% 7%; 
	justify-content: space-around;
}
.sec9div1{
	margin-left: 5%;
	margin-top: 8%;
	justify-content: center;
	font-family: sans-serif;
}
.img38{
	margin:3% 0% 5%;
	padding-left:23%; 
}
#hello{
    margin-left: 95px;
}
#app8{
    width: 35%;
    border-radius: 23px;
    padding: 2%;
    background-color: #002970;
    color:white;
    font-size: 17px;
    margin-left: 3%;
    margin-top: 5%;
    cursor: pointer;
    margin-bottom: 2%;
    text-align: center;
    padding: 15px 15px 15px;
}
#app8:hover {
    background-color:rgb(37, 174, 238);
    color:white;
}
#app8 i {
    margin-left: 10px;
}
.sec10{
	display: flex;
	justify-content: center;
}
.sec10div1{
	padding-top: 5%;
	padding-left: 10%;
}
.sec10div2{
	padding-top: 5%;
}
.sec10div3{
	padding-top: 5%;
}
.sec10div4{
	padding-top: 5%;
}
.sec11{
	padding:15% 10% 3% 10%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 5%;
}
#sec11div1{
	padding-left: 0%;
	background-color: white;
	color: black;
}
.sec11 div{
	background-color: #00baf2;
	margin: 0% 1%;
	text-align: center;
	color: white;
	border-radius: 8%;
}
.sec11 img{
	margin-top: 4%;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 2%;
	width: 80%;
}
.sec11 h1{
	opacity: 100%;
}
.apph{
    width: 40%;
    padding: 2%;
    color:rgb(46, 191, 240);
    font-size: 17px;
    margin-left: 25%;
    margin-top: 0%;
    text-align: center;
}
.apph:hover {
    color:rgb(8, 8, 104);
}
.sec12{
	padding:8% 10% 3% 10%;
	display: flex;
	justify-content: space-between;
}
#sec12div1{
	padding-left: 1%;
	background-color: white;
	color: black;
}
.sec12 div{
	background-color: #00baf2;
	margin: 0% 1%;
	text-align: center;
	color: white;
	border-radius: 10px;
	padding-top: 1%;
}
.sec12 img{
	margin-top: 4%;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 2%;
	width: 50%;
}
.sec13{
	display: flex;
	padding:4% 10%;
	background-color: rgba(239,239,239,0.6);
	
}
.sec13 h1{
	width: 20%;
}
#sec13div1{
	margin-left: 40%;
	width: 20%;
}
#sec13div1 a{
	margin-right: 16%;
} 
@media(max-width: 380px){
	.navbar a{
		font-size: 3.8px;
    }
 	.one{
		font-size: 20px;
    }
	.two2{
		font-size: 20px;
	}
	#app{
		width: 60%;
		font-size: 8px;
	}
	.head2{
		font-size: 17px;
	}
	.wallet{
		font-size: 10px;
	}
	.two{
		font-size: 11px !important;
	}
	.div3{
		flex-direction: column;
		align-items: center;
	} 
	.sec4 img{
		width: 38%;
	}
	#h3{
		font-size: 20px;
	}
	#sec1id{
		font-size: 15px;
	}
	#app{
		font-size: 6px;
	}
	#sec5id{
		font-size: 13px;
	}
	#app3{
		font-size: 6px;
	}
}